In [1]:
#https://towardsdev.com/create-an-etl-pipeline-in-python-with-pandas-in-10-minutes-6be436483ec9

import pandas as pd
import requests
import config

In [3]:
#movie_id = 550
API_KEY = config.api_key
url = 'https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, API_KEY)

#r = requests.get(url)

In [7]:
response_list = []
API_KEY = config.api_key

for movie_id in range(550,556): 
  url = 'https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, API_KEY)
  r = requests.get(url)
  response_list.append(r.json())

In [8]:
response_list

[{'adult': False,
  'backdrop_path': '/rr7E0NoGKxvbkb89eR1GwfoYjpA.jpg',
  'belongs_to_collection': None,
  'budget': 63000000,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': 'http://www.foxmovies.com/movies/fight-club',
  'id': 550,
  'imdb_id': 'tt0137523',
  'original_language': 'en',
  'original_title': 'Fight Club',
  'overview': 'A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.',
  'popularity': 98.006,
  'poster_path': '/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg',
  'production_companies': [{'id': 508,
    'logo_path': '/7PzJdsLGlR7oW4J0J5Xcd0pHGRg.png',
    'name': 'Regency Enterprises',
    'origin_country': 'US'},
   {'id': 711,
    'logo_path': '/tEiIH5QesdheJmDAqQwvtN60727.png',
    'name': 'Fox 2000 Pictures',
    'origin_country': 'US'},
   {'id': 4700,
    'logo_path': '/A32wmjrs9Psf4zw0uaixF0GXfxq.png',
    'name': 'The Linson Company',
    'origin_country': 'US'},
   {'id': 20555,
    'logo_path': '/hD8yEGUBlHOcfHYbujp71vD8gZp.png',
    'name': 'Taurus Film',
    'origin_country': 'DE'},
   {'id': 54051,
    'logo_path': None,
    'name': 'Atman Entertainment',
    'origin_country': ''},
   {'id': 54052,
    'logo_path': None,
    'name': 'Knickerbocker Films',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'DE', 'name': 'Germany'},
   {'iso_3166_1': 'US', 'name': 'United States of America'}],
  'release_date': '1999-10-15',
  'revenue': 100853753,
  'runtime': 139,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'Mischief. Mayhem. Soap.',
  'title': 'Fight Club',
  'video': False,
  'vote_average': 8.432,
  'vote_count': 24792},
 {'adult': False,
  'backdrop_path': '/v1QEIuBM1vvpvfqalahhIyXY0Cm.jpg',
  'belongs_to_collection': {'id': 372257,
   'name': 'The Poseidon Adventure Collection',
   'poster_path': '/ngvcBGzUbPsUGaSSLOaVNG2lfLW.jpg',
   'backdrop_path': '/kE3SAAQfWVkjJUZy1ohha8hy3LH.jpg'},
  'budget': 5000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 53, 'name': 'Thriller'}],
  'homepage': '',
  'id': 551,
  'imdb_id': 'tt0069113',
  'original_language': 'en',
  'original_title': 'The Poseidon Adventure',
  'overview': 'When their ocean liner capsizes, a group of passengers struggle to survive and escape.',
  'popularity': 17.924,
  'poster_path': '/6RGiA5BfhelU9zoD0b1GAG4GWWf.jpg',
  'production_companies': [{'id': 25,
    'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
    'name': '20th Century Fox',
    'origin_country': 'US'},
   {'id': 10281,
    'logo_path': None,
    'name': 'Kent Productions',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1972-12-13',
  'revenue': 84563118,
  'runtime': 117,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'},
   {'english_name': 'Slovak', 'iso_639_1': 'sk', 'name': 'Slovenčina'}],
  'status': 'Released',
  'tagline': 'Hell, upside down.',
  'title': 'The Poseidon Adventure',
  'video': False,
  'vote_average': 7.136,
  'vote_count': 674},
 {'adult': False,
  'backdrop_path': '/k4JIHyAXaGHwAwT7y5Skd17f0Wl.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}],
  'homepage': '',
  'id': 552,
  'imdb_id': 'tt0237539',
  'original_language': 'it',
  'original_title': 'Pane e tulipani',
  'overview': 'An endearing light comedy about a woman who spontaneously becomes a resident of Venice after her family left her begin. While enjoying the wonderful people she meets she achieves a new life and the first time independent of her family.',
  'popularity': 7.19,
  'poster_path': '/vz0THk3uPmYip2U761UqB2D0hRl.jpg',
  'production_companies': [{'id': 317,
    'logo_path': '/HJj0J9Tk6AGcLpL4O7mI3bsccM.png',
    'name': 'Istituto Luce Cinecittà',
    'origin_country': 'IT'},
   {'id': 169018,
    'logo_path': None,
    'name': 'Monogatari',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'IT', 'name': 'Italy'}],
  'release_date': '2000-03-03',
  'revenue': 8478434,
  'runtime': 114,
  'spoken_languages': [{'english_name': 'Italian',
    'iso_639_1': 'it',
    'name': 'Italiano'}],
  'status': 'Released',
  'tagline': 'Imagine your life. Now go live it.',
  'title': 'Bread and Tulips',
  'video': False,
  'vote_average': 7.292,
  'vote_count': 214},
 {'adult': False,
  'backdrop_path': '/r3xsFBD1VTUusk393bBc7SsDUJe.jpg',
  'belongs_to_collection': {'id': 1952,
   'name': 'USA: Land of Opportunities Collection',
   'poster_path': '/A4atgNoJJi1IK8AP2Bx4yzoXh6z.jpg',
   'backdrop_path': '/qMA0dQpuhOb8UtAaEj5PasG3mCB.jpg'},
  'budget': 10000000,
  'genres': [{'id': 80, 'name': 'Crime'},
   {'id': 18, 'name': 'Drama'},
   {'id': 53, 'name': 'Thriller'}],
  'homepage': '',
  'id': 553,
  'imdb_id': 'tt0276919',
  'original_language': 'en',
  'original_title': 'Dogville',
  'overview': "A barren soundstage is stylishly utilized to create a minimalist small-town setting in which a mysterious woman named Grace hides from the criminals who pursue her. The town is two-faced and offers to harbor Grace as long as she can make it worth their effort, so Grace works hard under the employ of various townspeople to win their favor. Tensions flare, however, and Grace's status as a helpless outsider provokes vicious contempt and abuse from the citizens of Dogville.",
  'popularity': 14.792,
  'poster_path': '/lraVawavIXh5geMlVjpzCw9TGwR.jpg',
  'production_companies': [{'id': 76,
    'logo_path': '/nebkQYtQKhZyHJfh5v0oGpNbPzu.png',
    'name': 'Zentropa Entertainments',
    'origin_country': 'DK'},
   {'id': 94,
    'logo_path': '/huC7HqorvUThGIrENrbcHmQVUA0.png',
    'name': 'ARTE France Cinéma',
    'origin_country': 'FR'},
   {'id': 119,
    'logo_path': '/1di2gITGUZr730AMuMKiCrP90Vl.png',
    'name': 'DR',
    'origin_country': 'DK'},
   {'id': 320,
    'logo_path': None,
    'name': 'Trollhättan Film',
    'origin_country': 'SE'},
   {'id': 321,
    'logo_path': '/pfp6VWF3tYfOHHVRHpYe2iGcYrf.png',
    'name': 'Memfis Film',
    'origin_country': 'SE'},
   {'id': 591,
    'logo_path': '/q5I5RDwMEiqoNmfaJgd2LraEOJY.png',
    'name': 'France 3 Cinéma',
    'origin_country': 'FR'},
   {'id': 2801,
    'logo_path': '/bswb1PLLsKDUXMLgy42bZtCtIde.png',
    'name': 'Film i Väst',
    'origin_country': 'SE'},
   {'id': 2999,
    'logo_path': '/zGSqFee9aDgDuLD6vcs2mcJUem4.png',
    'name': 'SVT',
    'origin_country': 'SE'},
   {'id': 3389,
    'logo_path': '/ppNofD7TAGZPbCWqdRZL10D7Yg9.png',
    'name': 'TV 2',
    'origin_country': 'NO'},
   {'id': 5975,
    'logo_path': '/vvjgoKygWWYZvYyidT3RmOCq5If.png',
    'name': 'YLE',
    'origin_country': 'FI'},
   {'id': 7777,
    'logo_path': '/vd6oWpxQXyaeWGfm0A5SnJi8pyo.png',
    'name': 'Slot Machine',
    'origin_country': 'FR'},
   {'id': 7843, 'logo_path': None, 'name': '4 1/2', 'origin_country': 'NO'},
   {'id': 10946,
    'logo_path': '/gk4SFkJ3G49gGL308zymD8QGNw.png',
    'name': 'WDR/Arte',
    'origin_country': 'DE'},
   {'id': 11239,
    'logo_path': None,
    'name': 'Liberator Productions',
    'origin_country': 'FR'},
   {'id': 12023,
    'logo_path': '/97tVKGqnkjn0hwTGGRDPRgYWbrE.png',
    'name': 'Nederlandse Programma Stichting (NPS)',
    'origin_country': 'NL'},
   {'id': 12045,
    'logo_path': None,
    'name': 'Isabella Films B.V.',
    'origin_country': ''},
   {'id': 23207,
    'logo_path': None,
    'name': 'Invicta Capital',
    'origin_country': 'GB'},
   {'id': 25491,
    'logo_path': None,
    'name': 'Edith Film Oy',
    'origin_country': ''},
   {'id': 30268,
    'logo_path': None,
    'name': 'Pain Unlimited GmbH Filmproduktion',
    'origin_country': ''},
   {'id': 53873,
    'logo_path': None,
    'name': 'Something Else B.V.',
    'origin_country': ''},
   {'id': 53874,
    'logo_path': '/mZJMAPElHQBIuWWXSyHtyaMf26C.png',
    'name': 'Sigma Films',
    'origin_country': 'GB'},
   {'id': 53875,
    'logo_path': None,
    'name': 'Zoma Films Ltd.',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'DK', 'name': 'Denmark'},
   {'iso_3166_1': 'FR', 'name': 'France'},
   {'iso_3166_1': 'DE', 'name': 'Germany'},
   {'iso_3166_1': 'NL', 'name': 'Netherlands'},
   {'iso_3166_1': 'NO', 'name': 'Norway'},
   {'iso_3166_1': 'SE', 'name': 'Sweden'},
   {'iso_3166_1': 'GB', 'name': 'United Kingdom'}],
  'release_date': '2003-05-19',
  'revenue': 16680836,
  'runtime': 178,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'A quiet little town not far from here.',
  'title': 'Dogville',
  'video': False,
  'vote_average': 7.791,
  'vote_count': 1988},
 {'adult': False,
  'backdrop_path': '/1qwXItFKqvKYyW1CwbYhxyUC8Pj.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 36, 'name': 'History'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 35, 'name': 'Comedy'}],
  'homepage': '',
  'id': 554,
  'imdb_id': 'tt0308476',
  'original_language': 'ru',
  'original_title': 'Кукушка',
  'overview': "September of 1944, a few days before Finland went out of the Second World War. A chained to a rock Finnish sniper-kamikadze Veikko managed to set himself free. Ivan, a captain of the Soviet Army, arrested by the Front Secret Police 'Smersh', has a narrow escape. They are soldiers of the two enemy armies. A Lapp woman Anni gives a shelter to both of them at her farm. For Anni they are not enemies, but just men.",
  'popularity': 3.86,
  'poster_path': '/jz5u5anVn3PTAjHC1nQehZGQ41C.jpg',
  'production_companies': [{'id': 318,
    'logo_path': '/q0UG4oZERwIywJdDPF4lRlvdYGW.png',
    'name': 'CTB Film Company',
    'origin_country': 'RU'}],
  'production_countries': [{'iso_3166_1': 'FI', 'name': 'Finland'},
   {'iso_3166_1': 'RU', 'name': 'Russia'}],
  'release_date': '2002-01-01',
  'revenue': 0,
  'runtime': 100,
  'spoken_languages': [{'english_name': 'German',
    'iso_639_1': 'de',
    'name': 'Deutsch'},
   {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'},
   {'english_name': 'Finnish', 'iso_639_1': 'fi', 'name': 'suomi'}],
  'status': 'Released',
  'tagline': "She's Making Peace One Man at a Time.",
  'title': 'The Cuckoo',
  'video': False,
  'vote_average': 7.045,
  'vote_count': 66},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 53, 'name': 'Thriller'}],
  'homepage': 'http://www.luecke-im-system.de/',
  'id': 555,
  'imdb_id': 'tt0442896',
  'original_language': 'en',
  'original_title': 'Absolut',
  'overview': 'Two guys against globalization want to plant a virus in the network of a finance corporation. On the day of the attack Alex has an accident and cannot remember anything.',
  'popularity': 1.846,
  'poster_path': '/cwxOwSDwbwUfceIlaWFoo65SdzX.jpg',
  'production_companies': [{'id': 319,
    'logo_path': None,
    'name': 'Frenetic Films',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'CH', 'name': 'Switzerland'}],
  'release_date': '2005-04-20',
  'revenue': 0,
  'runtime': 94,
  'spoken_languages': [{'english_name': 'French',
    'iso_639_1': 'fr',
    'name': 'Français'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Absolut',
  'video': False,
  'vote_average': 7.9,
  'vote_count': 20}]

In [9]:
df = pd.DataFrame.from_dict(response_list)

In [10]:
df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/rr7E0NoGKxvbkb89eR1GwfoYjpA.jpg,None,63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,550,tt0137523,en,Fight Club,...,1999-10-15,100853753,139,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Mischief. Mayhem. Soap.,Fight Club,False,8.432,24792
1,False,/v1QEIuBM1vvpvfqalahhIyXY0Cm.jpg,"{'id': 372257, 'name': 'The Poseidon Adventure...",5000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",,551,tt0069113,en,The Poseidon Adventure,...,1972-12-13,84563118,117,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Hell, upside down.",The Poseidon Adventure,False,7.136,674
2,False,/k4JIHyAXaGHwAwT7y5Skd17f0Wl.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",,552,tt0237539,it,Pane e tulipani,...,2000-03-03,8478434,114,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,Imagine your life. Now go live it.,Bread and Tulips,False,7.292,214
3,False,/r3xsFBD1VTUusk393bBc7SsDUJe.jpg,"{'id': 1952, 'name': 'USA: Land of Opportuniti...",10000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",,553,tt0276919,en,Dogville,...,2003-05-19,16680836,178,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A quiet little town not far from here.,Dogville,False,7.791,1988
4,False,/1qwXItFKqvKYyW1CwbYhxyUC8Pj.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",,554,tt0308476,ru,Кукушка,...,2002-01-01,0,100,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,She's Making Peace One Man at a Time.,The Cuckoo,False,7.045,66

In [11]:
df_columns = ['budget', 'genres', 'id', 'imdb_id', 'original_title', 'release_date', 'revenue', 'runtime']

In [14]:
genres_list = df['genres'].tolist()
genres_list

[[{'id': 18, 'name': 'Drama'}],
 [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}],
 [{'id': 80, 'name': 'Crime'},
  {'id': 18, 'name': 'Drama'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 18, 'name': 'Drama'},
  {'id': 36, 'name': 'History'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 35, 'name': 'Comedy'}],
 [{'id': 53, 'name': 'Thriller'}]]

In [17]:
for sublist in genres_list:
    print(sublist)
    for item in sublist:
        print(item)
        print(item['name'])

[{'id': 18, 'name': 'Drama'}]
{'id': 18, 'name': 'Drama'}
Drama
[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 53, 'name': 'Thriller'}]
{'id': 28, 'name': 'Action'}
Action
{'id': 12, 'name': 'Adventure'}
Adventure
{'id': 53, 'name': 'Thriller'}
Thriller
[{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}]
{'id': 35, 'name': 'Comedy'}
Comedy
{'id': 10749, 'name': 'Romance'}
Romance
[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}]
{'id': 80, 'name': 'Crime'}
Crime
{'id': 18, 'name': 'Drama'}
Drama
{'id': 53, 'name': 'Thriller'}
Thriller
[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name': 'History'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]
{'id': 18, 'name': 'Drama'}
Drama
{'id': 36, 'name': 'History'}
History
{'id': 10749, 'name': 'Romance'}
Romance
{'id': 35, 'name': 'Comedy'}
Comedy
[{'id': 53, 'name': 'Thriller'}]
{'id': 53, 'name': 'Thriller'}
Thriller

In [18]:
flat_list = [item for sublist in genres_list for item in sublist]
flat_list

[{'id': 18, 'name': 'Drama'},
 {'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 80, 'name': 'Crime'},
 {'id': 18, 'name': 'Drama'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 18, 'name': 'Drama'},
 {'id': 36, 'name': 'History'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 53, 'name': 'Thriller'}]